*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --primary-color: #8e2de2;
    --linear-gradient: linear-gradient(135deg, #121312, #5f6063);
    --nav-hover-color: linear-gradient(0deg, #d5d0da, #0c0c0c);
    --navbar-color: #00000a;
    --secondary-color: #4a00e0;
    --transperant-color: rgba(255, 255, 255, 0.1);
    --semi-transperant-color: rgba(255, 255, 255, 0.5);
    --text-color: #fff;
    --shadow-color: rgba(0,0,0,0.2);
    --border-radius: 10px;
    --transition: all 0.3s ease;
    --max-width: 400px;
    --padding: 30px;
    --gap: 20px;
}
body{
    min-height: 100vh;
    background: var(--linear-gradient);
}
body,html{
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: var(--text-color);
}
header{
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0px 20px 0px 20px;
    background: var(--navbar-color);
    box-shadow: 0 2px 5px var(--shadow-color);
    z-index: 1000;
}

/* some usefull styles */
a{
    text-decoration: none;
    color: var(--text-color);
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
.grid{
    display: grid;
}
.grid-center{
    justify-items: center;
    align-items: center;
}
.grid-2{
    grid-template-columns: repeat(2, 1fr);
}
.grid-3{
    grid-template-columns: repeat(3, 1fr);
}
.grid-4{
    grid-template-columns: repeat(4, 1fr);
}
.relative{
    position: relative;
}
.gap-40{
    gap: 40px;
}
li{
    list-style: none;
}

/* logo */
.logo{
position: absolute;
width: 100px;
height: 60px;
}
#logo-audi{
    width: 60%;
    aspect-ratio: 1/1;
}
/* nav responsive */
.icon{
    display: none;
}
@media (width<= 480px){
    .icon{
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        padding: 18px 20px;
        cursor: pointer;
    }
    header nav ul{
        display: none;
        width: 100%;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background: var(--navbar-color);
        box-shadow: 0 4px 6px var(--shadow-color);
    }
    header nav ul li{
        text-align: center;
        padding: 7px 0;
        border-top: 1px solid var(--shadow-color);
        border-bottom: 1px solid var(--shadow-color);
    }
 .responsive{
        display: flex;
         align-items: center;
        justify-content: space-around;
    }
    header nav ul li a:hover{
        color: var(--primary-color);
        background-color: #00000a;
    } 
}
/* nav */


header>nav{
    display: flex;
    align-items: center;
}
header>nav>ul{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header nav ul{
    position: absolute;
    right: 20px;
}
header nav ul li{
    list-style: none;
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    transition: var(--transition);
}
header>nav>ul>li> a:hover {
  color: var(--primary-color);
}
header > nav > ul > li > a:hover:before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 10%;
  height: 3px;
  border-radius: 3px;
  background-color: var(--primary-color);
  animation: border 0.7s ease alternate;
}
@keyframes border {
  0% {
    width: 0;
  }
  100% {
    width: 10%;
  }
}

header > nav > ul > li > a:active {
  color: rgba(240, 248, 255, 0.725);
}

/* section */
section{
    height: 100vh;
    flex-direction: column;
    gap: 20px;
    background: linear-gradient(135deg, #121312, #5f6063);
    background-repeat: round; 
    /* as the background image is on mobile   */
}

/* hero section */
#hero{
    font-family:monospace;
    background-image: url('./images/geometric-purple-neon-3d-cuboid-background.jpg');
    background-size: cover;
    background-clip: content-box;
    /* background-repeat: no-repeat; */
    /* background-repeat: round; as the background image is on mobile  */ 
}
#main-heading{
    font-size: 40px;
    color: var(--text-color);
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}
#hero p{
    font-size: 18px;
    line-height: 2rem;
    letter-spacing: 0.9px;
    padding: 10px;
    border-radius: var(--border-radius);
    color: var(--text-color);
    font-weight: 500;
    text-align: center;
    max-width: 600px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
    background-color: rgba(0,0,0,0.4);
}   
/* model section */
#model-q7{
    background-image: url('./images/019-2025-audi-q7.jpg');
    background-size: cover;
    background-clip: content-box;
    /* background-repeat: no-repeat; */
    /* background-repeat: round; as the background image is on mobile  */ 
}
#model-q7 h2{
    font-size: 36px;
    color: var(--text-color);
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}
#model-q7 p{
    font-size: 18px;
    line-height: 2rem;
    letter-spacing: 0.9px;
    padding: 10px;
    border-radius: var(--border-radius);
    color: var(--text-color);
    font-weight: 500;
    text-align: center;
    max-width: 600px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
    background-color: rgba(0,0,0,0.7);
}
#model-q7>.btn{
    padding: 10px 20px;
    border: none;
    border-radius: var(--border-radius);
    background: var(--semi-transperant-color);
    color: #2709ec;
    border: 2px solid var(--primary-color);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 6px var(--shadow-color);
    transition: var(--transition);
}
#model-q7>.btn:hover{
    background: var(--secondary-color);
    color: var(--text-color);
    transition: var(--transition);
}   
#details{
    background-image: url('./images/HD-wallpaper-audi-audi-s4-black-car-car-luxury-car-vehicle.jpg');
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-clip: content-box;
}
#details ul{
    list-style: none;
    font-size: 18px;
    line-height: 2rem;
    letter-spacing: 0.9px;
}
#details ul li{
    cursor: pointer;
    margin: 6px 0px;
    padding: 8px;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    color: var(--text-color);
    font-weight: 500;
    line-height: 2rem;
    text-align: center;
    max-width: 600px;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7);
    background-color: rgba(0,0,0,0.5);
}
#details>.wreper>.car-details{
    padding: 40px;
}
#details ul li:hover{
    background: var(--secondary-color);
    transform: scale(1.05);
    transition: var(--transition);
} 
#about{
    background-image: url('./images/audi-dark-car-vehicle-city-hd-wallpaper-preview.jpg');
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-clip: content-box;
}
#about p{
    font-size: 18px;
    line-height: 2rem;
    letter-spacing: 0.9px;
    padding: 10px;
    border-radius: var(--border-radius);
    color: var(--text-color);
    font-weight: 500;
    text-align: center;
    max-width: 600px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
    background-color: rgba(0,0,0,0.4);
}
#about h2{
    font-size: 36px;
    color: var(--text-color);
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}
#contact{
    background-image: url('./images/geometric-purple-neon-3d-cuboid-background.jpg');
    background-size: cover;
    background-clip: content-box;
    /* background-repeat: no-repeat; */
    background-repeat: round; 
    /* as the background image is on mobile   */
}
/* responsive */  
@media screen and (max-width: 768px){
    header>nav>ul{
        width: 50%;
    }
    header nav ul li{
        font-size: 10px;
    }
}
@media (width<= 768px){
    #main-heading{
        font-size: 32px;
    }
    #model-q7 h2{
        font-size: 28px;
    }
    #details ul li{
        font-size: 16px;
        line-height: 1.2rem;
    }
    #details>.wreper>.car-details{
        padding: 10px;
    }
    .gap-40{
        gap:15px;
    }
    
}
@media (width<=480px) {
     header>nav>ul{
        width: 100%;
        background-color: #121312;
        padding: 4px 0px 4px 0px;
        display: none;
    }
    .block{
        display: block;
    }
    header nav ul li{
        font-size: 10px;
    }

    #details ul li{
        margin: 0;
        padding: 4px;
    }
   .grid-2{
    grid-template-columns: repeat(1, 1fr);
   }
   #hero p, #model-q7 p, #about
    p{
        font-size: 14px;
        line-height: 1.4rem;
        min-width: 100px;
    }
    #model-q7>.btn{
        font-size: 14px;
        padding: 8px 16px;
    }
}
@media screen and (max-width: 480px){
    header nav ul li{
        font-size: 10px;
    }
    #main-heading{
        font-size: 25px;
    }
    #model-q7 h2{
        font-size: 30px;
    }
}
@media (width<= 320px){
    #main-heading{
        font-size: 20px;
    }
    #model-q7 h2{
        font-size: 24px;
    }
    p{
        font-size: 10px;
        line-height: 1.2rem;
    }
    #details ul li{
        padding: 0;
        font-weight: 300;
        font-size: 10px;
    }
    #model-q7>.btn{
        font-size: 13px;
        padding: 6px 12px;
    }
    #model-q7 p{
        padding: 0;
    }
}